<div class="create-folder-dialog-container overlay flex flex-center" id="createFolderDialogContainer" style="background-color: rgba(0, 0, 0, 0);">
	<div class="wrapper overlay-content app-block block container" style="max-width: 450px;">
		<div class="block-header">
			<h3 class="block-title" style="font-size: 25px; font-weight: 100; text-shadow: 1px 1px 1px #808080;">Create New Folder</h3>
			<button class="btn-close block-btn-close" id="closeBTN"></button>
		</div>
		<div class="block-body">
			<div class="block-group">
				<label for="folderNameInput" class="block-label">New folder name:</label>
				<input type="text" class="input-text input-text-outline" id="folderNameInput" placeholder="Enter folder name...">
				<div class="form-text">Don't use any special characters EX: (,/?:@.... etc)</div>
			</div>
		</div>
		<div class="block-footer">
			<button class="d-block w-100 soft-shadow btn btn-primary btn-sm" id="createBTN">Create Folder</button>
		</div>
	</div>
</div>