<div class="download-complete-dialog overlay flex flex-center" style="background-color: rgba(0, 0, 0, 0);" id="downloadCompleteContainer">
	<div class="wrapper modal-content app-block block container" style="max-width: 500px;border: none;">
		<div class="block-header text-center" style="border: none;">
			<h1 class="block-title" style="color: #6600cc; font-size: 22px;">JUST CHECKING...</h1>
			<button class="block-btn-close" id="closeBTN">Close</button>
		</div>
		<div class="block-body text-center">
			<div class="block-group">
				<h3 class="block-text-weight-300">File Successfully Downloaded</h3>
			</div>
			<div class="block-group">
				<p class="block-text-muted" style="font-size:13px;">
					Waiting for your action to apply on the downloaded file.
				</p>
			</div>
			<div class="block-group">
				<div class="text-meta">
					<h6 class="text-meta-title">File Path: </h6>
					<span class="text-meta-desc" id="filePathSpan">
						
					</span>
				</div>
			</div>
			<div class="block-group">
				<div class="text-meta">
					<h6 class="text-meta-title">File Name: </h6>
					<span class="text-meta-desc" id="fileNameSpan">
						
					</span>
				</div>
			</div>
		</div>
		<div class="block-footer">
			<div class="btn-group btn-group-sm flex">
				<button class="btn btn-primary" id="closeBTN2">Close</button>
				<button class="btn btn-primary" id="openFolderBTN">Open Folder</button>
				<button class="btn btn-primary" id="openFileBTN">Open File</button>
			</div>
		</div>
	</div>
</div>