<div class="latest-update-changes-dialog app-block block" id="latestUpdateChangesDialog">
	<div class="dialog-header block-header text-center">
		<div style="text-align:right;">
			<button class="btn-close" id="closeBTN"></button>
		</div>
		<h3 class="block-title d-block mb-3" id="dialogTitle"></h3>
		<div>
			<p class="small" id="dialogVersion"></p>
		</div>
	</div>
	<div class="block-body" id="dialogBody">
		<div class="block-group" id="body">
			
		</div>
		<div class="block-group">
			<p class="small mr-3" id="dialogCreatedAt"></p>
			<p class="small" id="dialogPublishedAt"></p>
		</div>
	</div>
</div>