<div class="share-file-dialog-container overlay flex flex-center" id="shareFileDialogContainer" style="background-color: rgba(0, 0, 0, 0);">
	<div class="wrapper overlay-content app-block block container" id="shareFileDialogMainWrapper" style="overflow-x:  hidden; overflow-y: auto;max-height: 700px;max-width: 550px; display: block;">
		<button class="btn btn-light btn-sm" id="backToMainSharingWindowBTN" style="display: none;">
			<span><i class="fas fa-angle-double-left"></i></span>
		</button>
		<div class="block-header">
			<h3 class="block-title" style="font-size: 25px; font-weight: 100; text-shadow: 1px 1px 1px #808080;">
				Share this file
			</h3>
			<button class="btn-close block-btn-close" id="closeBTN"></button>
		</div>
		<div class="block-body text-center" id="sharingUrlWrapper">
			<div class="block-group">
				<div class="form-text-md">
					Simply click one of the social share buttons below, or copy & paste the file URL
				</div>
				<div class="input-group">
					<span class="input-group-text" id="copyFileUrlToClipboardBTN" style="pointer-events: auto;"><i class="fas fa-copy"></i></span>
					<input type="text" class="input-text" id="fileUrlInput" readonly value="">
				</div>
				<div class="form-text">Share your file with one click:</div>
			</div>
			<div class="block-group">
				<ul class="block-list-horizontal-flex">
					<li>
						<button id="copyUrlSharingBTN">
							<span class="icon"><i class="fas fa-copy"></i></span>
							<span class="text">Copy URL</span>
						</button>
					</li>
					<li>
						<button>
							<span class="icon"><i class="fas fa-paper-plane"></i></span>
							<span class="text">Email</span>
						</button>
					</li>
					<li>
						<button>
							<span class="icon"><i class="fab fa-facebook-f"></i></span>
							<span class="text">Facebook</span>
						</button>
					</li>
					<li>
						<button>
							<span class="icon"><i class="fab fa-twitter"></i></span>
							<span class="text">Twitter</span>
						</button>
					</li>
				</ul>
			</div>
			<div class="separator"></div>
			<div class="block-group">
				<ul class="block-list-horizontal-flex">
					<li>
						<button id="openShareWithPeopleWindowBTN" class="border-0">
							<span class="icon"><i class="fas fa-people-arrows"></i></span>
							<span class="text">Share with People</span>
						</button>
					</li>
					<li>
						<button id="openShareWithGroupsWindowBTN" class="border-0">
							<span class="icon"><i class="fas fa-users"></i></span>
							<span class="text">Share with Groups</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="block-body text-center" id="sharingFileWithPeopleWrapper" style="display: none;">
			<div class="block-group">
				<div class="search-users-div">
					<div class="block-group">
						<h5 style="font-weight: 200;">Search for people to share with</h5>
					</div>
					<div class="block-group">
						<input type="text" class="input-text input-text-outline" id="peopleSearchInput" placeholder="Search for people...">
						<div class="search-results-div" id="peopleSearchResultsDiv" style="text-align: left;">
							<div class="row gy-2">
								<!--
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="search-result" data-role="PEOPLE_SEARCH_RESULT">
										<input type="checkbox" class="form-check-input search-result-check" data-role="PEOPLE_SEARCH_RESULT_CHECK">
										<div class="row">
											<div class="col-md-4">
												<img src="assets/img/utils/user.png" class="user-image" alt="">
											</div>
											<div class="col-md">
												<p class="fullname">Abdennour</p>
												<p class="email">haloce.dark@gmail.com</p>
											</div>
										</div>
									</div>
								</div>
								-->
							</div>
						</div>
					</div>
					<div class="block-group" style="text-align: right;">
						<button class="btn btn-primary btn-sm" id="shareWithSelectedPeopleBTN">
							Share
							<i class="fas fa-share-alt"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="block-group">
				<ul class="block-list-horizontal-flex">
					<li>
						<button id="toggleMoreSharingSettingsWrapperPeopleBTN" class="border-0">
							<span class="icon"><i class="fas fa-sliders-h"></i></span>
							<span class="text">Show More Sharing Settings</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="block-body text-center" id="sharingFileWithGroupsWrapper" style="display: none;">
			<div class="block-group">
				<div class="search-users-div">
					<div class="block-group">
						<h5 style="font-weight: 200;">Search for groups to share with</h5>
					</div>
					<div class="block-group">
						<input type="text" class="input-text input-text-outline" id="groupsSearchInput" placeholder="Search for groups...">
						<div class="search-results-div" id="groupsSearchResultsDiv" style="text-align: left;">
							<div class="block-group mt-2" style="text-align: center;">
								<button class="btn btn-success btm-sm d-inline-block" id="openCreateGroupWrapperBTN">		
									Create new Group
									<span><i class="fas fa-users"></i></span>
								</button>
							</div>
							<div class="row gy-2">
								<!--
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="search-result" data-role="GROUP_SEARCH_RESULT" data-permid="" data-permname="" style="padding-left: 1.8em;">
										<input type="checkbox" class="form-check-input search-result-check" data-role="GROUP_SEARCH_RESULT_CHECK" data-permid="" data-permname="">
										<p class="widget-name-ui">Perm to Download files.</p>
										<p class="widget-desc-ui">
											Allow users you shared files with to download the shared file.
										</p>
									</div>
								</div>
								-->
							</div>
						</div>
					</div>
					<div class="block-group" style="text-align: right;">
						<button class="btn btn-primary btn-sm" id="shareWithSelectedGroupsBTN">
							Share
							<i class="fas fa-share-alt"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="block-group">
				<ul class="block-list-horizontal-flex">
					<li>
						<button id="toggleMoreSharingSettingsWrapperGroupsBTN" class="border-0">
							<span class="icon"><i class="fas fa-sliders-h"></i></span>
							<span class="text">Show More Sharing Settings</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="block-footer" id="moreSharingSettingsWrapper" style="display: none;">
			<div class="block-group">
				<div class="sharing-perms-div search-users-div">
					<div class="block-group">
						<h6 style="font-weight: 200;">Search for sharing permissions</h6>
					</div>
					<div class="block-group">
						<input type="text" class="input-text input-text-outline" id="permsSearchInput" placeholder="Search for perms...">
						<div class="search-results-div" id="permsSearchResultsDiv">
							<div class="row gy-2">
								<!--
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="search-result" data-role="PERMS_SEARCH_RESULT" data-permid="" data-permname="" style="padding-left: 1.8em;">
										<input type="checkbox" class="form-check-input search-result-check" data-role="PERMS_SEARCH_RESULT_CHECK" data-permid="" data-permname="">
										<p class="widget-name-ui">Perm to Download files.</p>
										<p class="widget-desc-ui">
											Allow users you shared files with to download the shared file.
										</p>
									</div>
								</div>
								-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper overlay-content app-block block container" id="createGroupWrapper" style="overflow-x:  hidden; overflow-y: auto;max-height: 700px;max-width: 550px; display: none;">
		<button class="btn btn-light btn-sm" id="backToSharingFileWithGroupsWrapperBTN">
			<span><i class="fas fa-angle-double-left"></i></span>
		</button>
		<div class="block-header">
			<span class="block-title-icon"><i class="fas fa-users"></i></span>
			<h3 class="block-title">Create new Group</h3>
		</div>
		<div class="block-body">
			<div class="block-group">
				<form action="#" id="createNewGroupForm">
					<div class="form-group mb-2">
						<label for="cngfGroupNameInput" class="block-label">Group name</label>
						<input type="text" class="input-text input-text-outline" required id="cngfGroupNameInput" placeholder="Give the group a name...">
					</div>
					<div class="form-group mb-2">
						<label for="cngfGroupDescInput" class="block-label">Group description</label>
						<textarea class="input-text input-text-outline" rows="4" id="cngfGroupDescInput" placeholder="Enter group description here..."></textarea>
					</div>
					<div class="form-group" style="text-align: right;">
						<input type="submit" class="btn btn-primary btn-sm" value="Create Group">
					</div>
				</form>
			</div>
		</div>
		<div class="block-footer">
			<div class="block-group">
				<ul class="block-list-horizontal-flex">
					<li>
						<button id="openAddPeopleToGroupWrapperBTN">
							<span class="icon"><i class="fas fa-user-plus"></i></span>
							<span class="text">Add People to Groups</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="wrapper overlay-content app-block block container" id="editGroupWrapper" style="overflow-x:  hidden; overflow-y: auto;max-height: 700px;max-width: 550px; display: none;">
		<button class="btn btn-light btn-sm" id="backToCreateGroupWrapperBTN">
			<span><i class="fas fa-angle-double-left"></i></span>
		</button>
		<div class="block-header">
			<span class="block-title-icon"><i class="fas fa-users"></i></span>
			<h3 class="block-title">Edit Group</h3>
		</div>
		<div class="block-body">
			<div class="block-group">
				<form action="#" id="editGroupForm">
					<div class="form-group mb-2">
						<label for="egfGroupNameInput" class="block-label">Group name</label>
						<input type="text" class="input-text input-text-outline" required id="egfGroupNameInput" placeholder="Give the group a name...">
					</div>
					<div class="form-group mb-2">
						<label for="egfGroupDescInput" class="block-label">Group description</label>
						<textarea class="input-text input-text-outline" rows="4" id="egfGroupDescInput" placeholder="Enter group description here..."></textarea>
					</div>
					<div class="form-group" style="text-align: right;">
						<input type="submit" class="btn btn-primary btn-sm" value="Update Group">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="wrapper overlay-content app-block block container" id="addPeopleToGroupsWrapper" style="overflow-x:  hidden; overflow-y: auto;max-height: 700px;max-width: 550px; display: none;">
		<button class="btn btn-light btn-sm" id="backCreateGroupWrapperBTN">
			<span><i class="fas fa-angle-double-left"></i></span>
		</button>
		<div class="block-header">
			<span class="block-title-icon"><i class="fas fa-users"></i></span>
			<h3 class="block-title">Add People to Groups</h3>
		</div>
		<div class="block-body">
			<div class="block-group">
				<div class="search-users-div">
					<div class="block-group">
						<h5 style="font-weight: 200;">Search for people to add to group</h5>
					</div>
					<div class="block-group">
						<input type="text" class="input-text input-text-outline" id="peopleSearchForGroupInput" placeholder="Search for people...">
						<div class="search-results-div" id="peopleSearchForGroupResultsDiv">
							<div class="row gy-2">
								<!--
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="search-result" data-role="PEOPLE_FOR_GROUP_SEARCH_RESULT">
										<input type="checkbox" class="form-check-input search-result-check" data-role="PEOPLE_SEARCH_FOR_GROUP_RESULT_CHECK">
										<div class="row">
											<div class="col-md-4">
												<img src="assets/img/utils/user.png" class="user-image" alt="">
											</div>
											<div class="col-md">
												<p class="fullname">Abdennour</p>
												<p class="email">haloce.dark@gmail.com</p>
											</div>
										</div>
									</div>
								</div>
								-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-group">
				<div class="search-users-div">
					<div class="block-group">
						<h5 style="font-weight: 200;">Search for groups</h5>
					</div>
					<div class="block-group">
						<input type="text" class="input-text input-text-outline" id="groupsSearchToSelectFromInput" placeholder="Search for groups...">
						<div class="search-results-div" id="groupsSearchResultsToSelectFromDiv" style="text-align: left;">
							<div class="row gy-2">
								<!--
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="search-result" data-role="ADDED_GROUP_SEARCH_RESULT" data-groupid=""  style="padding-left: 1.8em;">
										<input type="checkbox" class="form-check-input search-result-check" data-role="ADDED_GROUP_SEARCH_RESULT_CHECK" data-groupid="">
										<p class="widget-name-ui">Perm to Download files.</p>
										<p class="widget-desc-ui">
											Allow users you shared files with to download the shared file.
										</p>
									</div>
								</div>
								-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-group" style="text-align: right;">
				<button class="btn btn-primary btn-sm" id="addSelectedPeopleToGroupBTN">
					Add Selections
					<i class="fas fa-user-plus"></i>
				</button>
			</div>
		</div>
	</div>
</div>