<div class="side-navbar-container container" id="AP_SIDE_NAVBAR_CONTAINER">
	<div class="wrapper wrapper-p-1">
		<div class="header">
			<div class="avatar">
				<img src="assets/img/utils/user.png" class="img-thumbnail" alt="">
			</div>
			<div class="details">
				<h1 class="fullname">Test fullname</h1>
				<p class="email">test@test.com</p>
			</div>
			<span class="notification fas fa-bell d-none" id="notificationBTN"></span>
		</div>
		<div class="separator"></div>
		<div class="middle">
			<ul class="navmenu" id="sideNavBarMenu">
				<li>
					<a href="" class="active nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="fas fa-chart-bar"></i></span>
						<span class="label">Statistics</span>
					</a>
				</li>
				<li>
					<a href="views/pages/users.ejs" class="nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="fas fa-user"></i></span>
						<span class="label">Users</span>
					</a>
				</li>
				<li>
					<a href="views/pages/approvals.ejs" class="nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="fas fa-user-check"></i></span>
						<span class="label">Waiting Approval</span>
					</a>
				</li>
				<li>
					<a href="views/pages/privileges.ejs" class="nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="fas fa-universal-access"></i></span>
						<span class="label">Privileges</span>
					</a>
				</li>
				<li>
					<a href="views/pages/settings.ejs" class="nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="fas fa-cog"></i></span>
						<span class="label">Settings</span>
					</a>
				</li>
				<li>
					<a href="../../index.ejs" class="nm-link" data-role="USER_PANEL_NAV_LINK">
						<span class="icon"><i class="fas fa-user-tag"></i></span>
						<span class="label">User Panel</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--
<div class="notification-container" id="notificationContainer">
	<div class="wrapper wrapper-p-1 container" id="notificationsWrapper" style="max-width: 490px; max-height: 436px; overflow-x: hidden; overflow-y: auto;">
		
	</div>
</div>
-->