<div class="my-direct-sharings-container" id="myDirectSharingsContainer">
	<div class="wrapper">
		<div class="header">
			<h3 class="title">My Direct Sharings</h3>
		</div>
		<div class="inner-wrapper app-block">
			<div class="my-5">
				<div id="paginationDiv" class="flex flex-center"></div>
			</div>
			<div class="table-nav bg-repeat-x">
				<button class="btn btn-danger btn-sm" id="unsharedFileBTN">
					Unshare File
				</button>
			</div>
			<div class="table-div">
				<ul class="utable shadowed" id="sharedFilesTable">
					<div class="thead">
						<li class="td" id="selectAll" style="cursor: pointer;">Select All</li>
						<li class="td">File Name</li>
						<li class="td">File Size</li>
						<li class="td">File Downloads</li>
						<li class="td">Shared With</li>
						<li class="td">Shared In</li>
					</div>
					<div class="tbody">
						<!--
						<div class="tr">
							<li class="td">
								<input type="checkbox" class="form-check-input" data-role="FILE_DIRECT_SHARING_CHECK" data-fileid="" data-shared_with_id="">
							</li>
							<li class="td">01.Python Programming Tutorial - 1 - Installing Python.mp4</li>
							<li class="td">53 MB</li>
							<li class="td">(1250) Times</li>
							<li class="td">Amine</li>
							<li class="td">2022-02-19 00:25:45</li>
						</div>
						-->
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>