<div class="groups-container" id="myGroupsContainer">
	<div class="wrapper">
		<div class="header">
			<h3 class="title">My Groups</h3>
		</div>
		<div class="inner-wrapper app-block">
			<div class="my-5">
				<button id="createNewGroupBTN" class="btn-01">
					Create New Group
				</button>
			</div>
			<div id="groupsDiv" class="lists-div">
				<!--
				<div class="row gx-3 gy-3">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="list">
							<div class="rectangle"></div>
							<div class="list-contents">
								<div class="row">
									<div class="col-md-2">
										<span class="list-number">01.</span>
									</div>
									<div class="col-md">
										<div class="list-group-inline">
											<span class="list-title">Design</span>
											<p class="list-desc">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
											</p>
											<p class="list-small-text">2022-05-15 02:41:37</p>
										</div>
									</div>
								</div>
							</div>
							<div class="list-buttons flex flex-center">
								<p class="list-buttons-title">Perform necessary operation:</p>
								<div class="position-relative w-100">
									<button class="list-btn list-btn-light">
										<span class="content">
											<span class="text">Edit</span>
										</span>
									</button>
									<button class="list-btn list-btn-danger">
										<span class="content">
											<span class="text">Delete</span>
										</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
</div>