<div class="files-container" id="sharedFilesWithMeInGroupsContainer">
	<div class="wrapper">
		<div class="header">
			<h1 class="title">Shared With Me in Groups</h1>
		</div>
		<div class="wrapper-p-2">
			<div class="middle">
				<div id="filesDiv">
					<div class="row gx-3 gy-3 mb-5" id="folders">
						<!--
						<div class="custom-col col-md-12">
							<div class="file list-view" data-role="FILE">
								<div class="icon"><i class="far fa-file-archive"></i></div>
								<span class="name">Pharmacie.rar</span>
								<span class="info">3 downloads, 65.73 MB</span>
								<div class="other-info">
									<span style="cursor: pointer;" data-tooltip-top="Copy share link"><i class="fas fa-link"></i></span>
									<span>2021-11-29 02-56-26</span>
									<span style="cursor: pointer;"><i class="fas fa-ellipsis-v"></i></span>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="custom-col folder list-view" data-role="FOLDER" foldername="" folderpath="">
								<span class="icon"><i class="fas fa-folder"></i></span>
								<span class="name">Documents</span>
								<div class="folder-info">
									<span>0 files.</span>
									<span>0 folders.</span>
								</div>
							</div>
						</div>
						-->
					</div>
					<div class="row gx-3 gy-3" id="files">
						<!--
						<div class="custom-col col-md-12">
							<div class="file list-view" data-role="FILE">
								<div class="icon"><i class="far fa-file-archive"></i></div>
								<span class="name">Pharmacie.rar</span>
								<span class="info">3 downloads, 65.73 MB</span>
								<div class="other-info">
									<span style="cursor: pointer;" data-tooltip-top="Copy share link"><i class="fas fa-link"></i></span>
									<span>2021-11-29 02-56-26</span>
									<span style="cursor: pointer;"><i class="fas fa-ellipsis-v"></i></span>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="custom-col folder list-view" data-role="FOLDER" foldername="" folderpath="">
								<span class="icon"><i class="fas fa-folder"></i></span>
								<span class="name">Documents</span>
								<div class="folder-info">
									<span>0 files.</span>
									<span>0 folders.</span>
								</div>
							</div>
						</div>
						-->
					</div>
				</div>
				<div id="filesBackupDiv" style="display: none;">
					<div class="row">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>