

	<script src="./renderer.js"></script>
	<script type="text/javascript" src="src/assets/js/popper.min.js"></script>
	<script type="text/javascript" src="src/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="src/assets/js/pagination.js"></script>
	<script type="text/javascript" src="src/assets/js/include/functions.js"></script>
	<script type="text/javascript" src="src/assets/js/include/classes.js"></script>
	<script type="text/javascript" src="src/assets/js/include/Dialogs.js"></script>
	<script type="text/javascript" src="src/assets/js/loaderCharts.min.js"></script>
	<script type="text/javascript" src="src/assets/js/index.js"></script>
</body>
</html>