<div class="context-menu-container" id="fileContextMenuContainer">
	<ul class="list-unstyled contextmenu">
		<div class="MYFILES_COMMANDS">
			<li>
				<a href="#" data-role="COPY_FILE_LINK_TO_CLIPBOARD">
					<span class="icon"><i class="fas fa-link"></i></span>
					<span class="text">Quick Link</span>
				</a>
			</li>
			<li>
				<a href="#" data-role="FILE_ADVANCED_LINKS">
					<span class="icon"><i class="fas fa-copy"></i></span>
					<span class="text">Advanced Links</span>
				</a>
			</li>
			<li>
				<a href="#" data-role="RENAME_FILE">
					<span class="icon"><i class="fas fa-edit"></i></span>
					<span class="text">Edit file</span>
				</a>
			</li>
			<li>
				<a href="#" data-role="SHARE_FILE">
					<span class="icon"><i class="fas fa-share-alt"></i></span>
					<span class="text">Share</span>
				</a>
			</li>
			<li>
				<a href="#" data-role="UNSHARE_FILE">
					<span class="icon"><i class="fas fa-unlink"></i></span>
					<span class="text">Unlink</span>
				</a>
			</li>
			<div class="separator"></div>
			<li>
				<a href="#" data-role="DOWNLOAD_FILE">
					<span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
					<span class="text">Download</span>
				</a>
			</li>
			<li>
				<a href="#" data-role="MOVE_FILE_TO_FOLDER">
					<span class="icon"><i class="fas fa-arrows-alt"></i></span>
					<span class="text">Move</span>
				</a>
			</li>
			<li>
				<a href="#" data-role="MOVE_FILE_TO_TRASH">
					<span class="icon"><i class="fas fa-recycle"></i></span>
					<span class="text">Move to Trash</span>
				</a>
			</li>
		</div>
		<div class="TRASH_COMMANDS">
			<li>
				<a href="#" data-role="RESTORE_FILE_FROM_TRASH">
					<span class="icon"><i class="fas fa-trash-restore"></i></span>
					<span class="text">Restore from Trash</span>
				</a>
			</li>
			<li>
				<a href="#" data-role="DELETE_FILE_FOREVER">
					<span class="icon"><i class="fas fa-trash-alt"></i></span>
					<span class="text">Delete Forever</span>
				</a>
			</li>
		</div>
	</ul>
</div>