<div class="context-menu-container" id="folderContextMenuContainer">
	<ul class="list-unstyled contextmenu">
		<h3 class="filename" id="filenameHeading"></h3>
		<div class="MYFILES_COMMANDS">
			<li>
				<a href="#" data-role="RENAME_FOLDER">
					<span class="icon"><i class="fas fa-edit"></i></span>
					<span class="text">Edit folder</span>
				</a>
			</li>
			<div class="separator"></div>
			<li>
				<a href="#" data-role="DOWNLOAD_FOLDER_AS_ZIP">
					<span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
					<span class="text">Download</span>
				</a>
			</li>
			<li>
				<a href="#" data-role="MOVE_FOLDER_TO_TRASH">
					<span class="icon"><i class="fas fa-recycle"></i></span>
					<span class="text">Move to Trash</span>
				</a>
			</li>
		</div>
		<div class="TRASH_COMMANDS">
			<li>
				<a href="#" data-role="RESTORE_FOLDER_FROM_TRASH">
					<span class="icon"><i class="fas fa-trash-restore"></i></span>
					<span class="text">Restore from Trash</span>
				</a>
			</li>
			<li>
				<a href="#" data-role="DELETE_FOLDER_FOREVER">
					<span class="icon"><i class="fas fa-trash-alt"></i></span>
					<span class="text">Delete Forever</span>
				</a>
			</li>
		</div>
	</ul>
</div>