<div class="container-fluid" id="usersWaitingApprovalsContainer">
	<div class="wrapper">
		<div class="header">
			<h1 class="title-medium">Users Waiting Account Approval</h1>
		</div>
		<div class="inner-wrapper app-block">
			<p class="desc">You can approve new registered users or delete.</p>
			<div id="paginationDiv" class="flex flex-center"></div>
			<div class="table-nav bg-repeat-x">
				<div class="form-group mb-2">
					<div class="btn-group btn-group-sm">
						<button class="btn btn-danger" id="usersDeleteSelectedBTN">Delete Selected</button>
						<button class="btn btn-success" id="usersApproveSelectedBTN">Approve Selected</button>
					</div>
				</div>
				<div class="form-group">
					<input type="text" class="input-text input-text-outline" id="usersSearchInput" placeholder="Search using user info...">
				</div>
			</div>
			<div class="table-div">
				<ul class="utable separate-rows" id="usersTable">
					<div class="thead">
						<li class="td" id="selectAllBTN" style="pointer-events: auto; cursor: pointer;">Select All</li>
						<li class="td">Fullname</li>
						<li class="td">Username</li>
						<li class="td">Email</li>
						<li class="td">Avatar</li>
						<li class="td">Verified</li>
						<li class="td">Approved</li>
						<li class="td">Registered In</li>
						<li class="td">Operation</li>
					</div>
					<div class="tbody">
						<!--
						<div class="tr" data-role="USER_ACCOUNT_ROW" data-userid="">
							<li class="td">
								<input type="checkbox" class="form-check-input"data-role="USER_ACCOUNT_CHECK">
							</li>
							<li class="td">Abdennour</li>
							<li class="td">halocdz</li>
							<li class="td" style="pointer-events: auto;">haloce.dark@gmail.com</li>
							<li class="td">
								<img src="http://192.168.1.106/Media4ShareAPI/uploads/users/13/Profile_PRIVATE_/Avatar/6217b407d7cf99.10541589.jpg" class="img-thumbnail user-img-medium rounded shadow" alt="">
							</li>
							<li class="td">Yes</li>
							<li class="td">Yes</li>
							<li class="td">2022-02-24</li>
							<li class="td">
								<div class="btn-group-vertical btn-group-sm">
									<button class="btn btn-danger" id="usersDeleteSelectedBTN">Delete</button>
									<button class="btn btn-success" id="usersApproveSelectedBTN">Approve</button>
								</div>
							</li>
						</div>
						-->
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>