<div class="statistics-container" id="statisticsContainer">
	<div class="wrapper">
		<div class="header">
			<h1 class="title">Statistics</h1>
		</div>
		<div class="inner-wrapper app-block">
			<div class="row gx-5 gy-5 stats-div">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="stat" id="totalFilesStat">
						<div class="row">
							<div class="col-md-4">
								<div class="stat-icon" style="background-color: #D7EDD8; color: #4CAF50;">
									<i class="fas fa-file"></i>
								</div>
							</div>
							<div class="col-md">
								<p class="stat-name">Total Files</p>
								<p class="stat-count">(0) files</p>
							</div>
						</div>
					</div>
				</div>
				<!--
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="stat" id="totalSharingsStat">
						<div class="row">
							<div class="col-md-4">
								<div class="stat-icon" style="background-color: #ffe6f9; color: #ff33cc;">
									<i class="fas fa-share-alt"></i>
								</div>
							</div>
							<div class="col-md">
								<p class="stat-name">Total Sharings</p>
								<p class="stat-count">(0) sharings</p>
							</div>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
		<div class="inner-wrapper app-block">
			<div class="row gx-2 gy-3">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="block">
						<div class="block-header">
							<span class="block-title-icon"><i class="fas fa-chart-line"></i></span>
							<h3 class="block-title">Total files.</h3>
						</div>
						<div class="block-body">
							<div id="chartDiv01">
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="block">
						<div class="block-header">
							<span class="block-title-icon"><i class="fas fa-chart-line"></i></span>
							<h3 class="block-title">Total files sharings.</h3>
						</div>
						<div class="block-body">
							<div id="chartDiv02">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="inner-wrapper app-block">
			<div class="row gx-5 gy-5 stats-div">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="stat" id="totalDownloadsStat">
						<div class="row">
							<div class="col-md-4">
								<div class="stat-icon" style="background-color: #e6f0ff; color: #0066ff;">
									<i class="fas fa-cloud-download-alt"></i>
								</div>
							</div>
							<div class="col-md">
								<p class="stat-name">Total Downloads</p>
								<p class="stat-count">(0) times</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>